/* ----------------------
/ Convention de nommage  html css :
/
/ utilisation d'une syntaxe librement inspirée de la méthode abem montrée par Jeremy dit James  :-)
/ utilisation d'une grille inspirée de Bootstrap et prévision du responsif avec utilisation des médiaqueries
/ utilisation des Flexbox
/ reset : sur li et a
/ import de la Google Font
/
 --------------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* reset */
li{
  list-style-type: none;
}
li > a{
  text-decoration: none;
}

/* Balises générales */
*{
  box-sizing: border-box;
}
html{
  font-size: 62.5%; /* utilisation de 1 rem = 10px; */
}
body{
  background-color: rgb(47,48,56);
  color: whitesmoke;
  font-family: 'Popins', Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
  /* une façon de faire pour que des éléments comme les bubbles ne fassent en sortent que la page fassent des assenseur, cest de mettre un overflow : hidden */
  overflow: auto;
}
img{
  width: 100%;
  height: auto;
}
/* Balises sémantiques */

header{
  margin-bottom: 2rem;
  padding: 1rem;

}
h1{
  font-size: 2.5rem;

}
p{
  font-size: inherit;

}
nav{
  text-transform: capitalize;
  padding-bottom: 1rem;

}

li > a{

  color: rgb(255,255,255);
}
footer{
  height: 10rem;
  background-color: rgb(32,32,39);

  width: 100%;
  bottom: 0;
  left: 0;
  margin: 2rem 1rem 1rem 0;
  padding-top: 1rem;
  border-top: 1px solid transparent;
  /* voir comment on va faire */
  overflow: hidden;
  max-width: 100vw;
}

/* Classes générales */

.wrap{
  max-width: 1130px;
  width: 100%;
  margin: 0 auto;
}
  /* les cercles qui sortent du FLUX */
.circle{
  position: absolute;
  border-radius: 50%;
  z-index: -10;
  opacity: 25%;
}
.firstcircle{
  top: -1%;
  left: 40%;
  background-color: yellowgreen; /*rgb(44,56,73); */
  width: 4.5rem;
  height: 4.5rem;
}
.secondcircle{
  top: 12%;
  left: 60%;
  background-color: yellowgreen; /*rgb(44,56,73); */
  width: 13.5rem;
  height: 13.5rem;
}
.thirdcircle{
  top: 36%;
  left: 73%;
  background-color: rgb(24,103,167); /*rgb(44,56,73); */
  width: 23.5rem;
  height: 23.5rem;
}

/* Classes générales (suite) */
.o-header-logo{

  display: inline-flex;
  padding: 1rem 1rem 0 1rem;

}
.o-header-logo img{
  width: 20%;
  margin: 1rem;
  padding-top: 1rem;
}
.m-header-logo--title{
  margin-top: 2.8rem;
  margin-left: 1rem;
  font-size: 1.8rem;
}
.o-header-nav{
  margin-top: 1rem;

}
.o-header-nav ul{
  padding: 0;
  margin: 0;

}
.o-header-nav li{
  border-bottom: 1px solid rgb(192,192,192);
  padding-bottom: 0.5rem;
}
.o-header-nav a{
  padding: 0.25rem 1rem;
  display: block;
}
.o-header-nav .is-active a{
  color: rgb(188,58,128);

}
.o-header-nav a:hover{
  color: rgb(24,103,167);

}

/* Footer */

.o-footer-nav li{
  padding-bottom: 1rem;
}
.o-footer-social-media{
  margin: 2rem 2rem 1rem 1rem;
  padding-right: 1rem;

}
.m-footer-social-media--items{

  padding: 0 0 1rem 1rem;
  margin-left: 1rem;
  text-transform: capitalize;
  display: inline-block;
  width: 100%;
  color: rgb(255,255,255);
  text-decoration: none;
}

.m-footer-social-media--items i{
  color: rgb(255,255,255);
  margin-right: 0.6rem;
}


/*
/ Classes liées à la page Home
*/
.m-home-main--img{
  width: 55%;
  margin-left: 1.2rem;
}
.m-home-main--content{
  margin-top: 1rem;
  padding-left: 2rem;
}
.m-home-main--content h1{
  margin-top: 0;
}
.a-home-main--content--link{
  display: inline-block;
  margin-top: 1.5rem;
  padding: 1rem 2rem 1rem 2rem;
  width: 32%;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: rgb(188,58,128);
  margin-bottom: 1rem;
  color: rgb(255,255,255);
  text-decoration: none;
  align-items: center;
}

/*
/ Classes liées à la page FORM
 */
.o-form-header{
  margin-bottom: 0;
}
.o-form-main--fun{
  margin-top: 0;
}
.o-form-main--fun h1{
  font-size: 2.4rem;
  font-weight: 800;
  margin-left: 1rem;
  margin-top: 0;
  padding-left: 1rem;
}
.o-form-main--fun h1 span{
  font-size: 4rem;
  color: rgb(188,58,128);
}
.m-form-main--form {
  background-color: rgb(32,32,39);
  border-radius: 15px;
  margin: 1rem 1rem 1.5rem 1.5rem;
  padding: 1rem 2rem 1rem 2rem;
}
.m-form-main--form form > label, input, textarea{
  display: block;
  width: 100%;
}
.m-form-main--form label{
  padding: 0.5rem 0;
}
#label-comment{
  margin-top: 0.5rem;
}
.m-form-main--form form > input, textarea{
  border: 1px solid rgb(188,58,128);
  border-radius: 5px;
  background-color: rgb(32,32,39);
  color: rgb(24,103,167);
  padding: 1rem;
}
.m-form-main--form button{
  display: inline-block;
  margin-top: 1.5rem;
  padding: 1rem;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: rgb(24,103,167);
  margin-bottom: 1rem;
}
/* pour  afficher le contenu du FORM de l'API */
.div-auteur{
  color: rgb(41, 28, 28);
  text-transform: uppercase;
  background-color: rgba(24,103,167,0.3);
}
.div-content{
  color: burlywood;
}
/*
/ Classes liées à la page DISCOVER
*/
.m-discoverMain__content{
  border: 2px solid chartreuse;
  margin-left: 1rem;
}
.a-discoverMain{
  font-size: 4rem;
}
.a-discoverMain__contentImage img{
  color: yellow;
  background-color: orangered;
}


.m-discoverMain__folioFotos{
 /* border: 1px solid chartreuse; */
box-shadow: 1px 1px 3px 3px rgb(188,58,128, 0.6);
  padding: 0.5rem;
  margin-left: 6rem;
  margin-right: 1rem;
}
.a-discoverMain__folioFotos{
  width: 49.3%;
}


/* --------------------
/* Vue tablette et desktop
/* ------------------------ */


@media screen and (min-width: 640px) {

  /* Classes générales */
  /* header */
  .o-header-logo img{
    width: 29%;
  }
  .o-header-nav{
    margin-top: 1.7rem;
  }
  .o-header-nav ul{
    display: flex;
    justify-content: flex-end;
  }
  .o-header-nav li{
    border: 0; /* pour ne pas qu'ils soient soulignés
   /* display: inline-block; */
    padding-left: 1rem;
    margin-top: 2rem;
  }
  /* footer */
  .o-footer-nav ul{
    display: flex;
  }
  .o-footer-nav li{
    padding-right: 2rem;
  }
  .o-footer-social-media{
    display: inline-flex;
    justify-content: space-around;
    width: 100%;

  }

    /* Classes propres à la page Home */
  .m-home-main--img{
    width: 44%;
    margin-left: 6rem;
    /* comment faire pour que la dame reste en bas ? A VERIFIER */
      position: absolute;
      bottom: 0;
  }
  .a-home-main--content--title{
    font-size: 4rem;
  }
  .a-home-main--content--txt{
    font-size: 2rem;
  }
}
@media screen and (min-width: 960px){
  .m-home-main--img{
    width: 29%;
  }
  .m-form-main--form{
    margin-left: 10rem;
  }
}